{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
